.button {
  display: inline-block;
  width:60px;
  height:40px;
  margin: 0px 15px 15px 15px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #10c58b;
  border: none;
  border-radius: 15px;
}

.decrement {
 background-color: #e14f4f;
}

.resetButton {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: rgb(18, 18, 18);
  border: none;
  border-radius: 14px;
  max-height: 30px;
}

.resetButton:active {
  transform: translateY(2px);
}

.labelsContainer {
  display: flex;
  flex-direction: column;
}
.labelsInputContainer {
  display: flex;
}

.label {
  width: 40%;
  display: flex;
  margin-top: 10px;
}

.input {
  margin-left: 20px;
  margin-top: 5px;
  width: 40px;
  height: 20px;
}

.voteCountContainer {
  display: flex;
  font-size: 14px;
  text-align: left;
  align-items: stretch;
}

.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  background-color:rgb(18, 18, 18);
  width: 160px;
  margin: 15px 10px 20px 10px;
  color: white;
  text-align: center;
}

h2 {
  min-width: 345px;
}

h6 {
  min-width: 320px;
  margin: 15px;
  text-align: left;
}
